<div class="availableBox">
    <h3>Tillgänglig personal ({{ (availableStaffCount + availableStaffOWHCount).toString()}} st)</h3>
    <input type="text" class="searchBar" [(ngModel)]="search" placeholder="Sök i listan...">
    <div *ngIf="availableStaff.length != 0">
        <h2>På arbetstid ({{availableStaffCount.toString()}} st)</h2>
        <ul>
            <li *ngFor="let item of availableStaff | filter:search">
                <span class="dot-green"></span><p>{{ item.firstName + " " + item.lastName}}<br>{{item.phoneNr}}</p>
            </li>
        </ul>
    </div>
    <div *ngIf="availableStaffOWH.length != 0">
        <h2>Utanför arbetstid ({{availableStaffOWHCount.toString()}} st)</h2>
        <ul>
            <li *ngFor="let item of availableStaffOWH | filter:search">
                <span class="dot-yellow"></span><p>{{ item.firstName + " " + item.lastName}}<br>{{item.phoneNr}}</p>
            </li>
        </ul>
    </div>
</div>