<div class=statusBox *ngIf="isLoaded == true">
    <h1>Avvikelser ({{ deviationCount.toString() }} st)</h1>
    <ul>
        <li *ngFor="let item of GetDeviantProceduresStatus(); let i = index">

            <div class="deviationHeader">
                <h4>{{item.procedure}}</h4>
                <div *ngIf="item.hasDeviated === 1">
                    <p *ngIf="item.minutesLate != 1">Avvikelse skedde för {{ item.minutesLate }} minuter sedan</p>
                    <p *ngIf="item.minutesLate == 1">Avvikelse skedde för {{ item.minutesLate }} minut sedan</p>
                    <!-- <p *ngIf="item.minutesLate >= 60">Avvikelse skedde för {{ item.minutesLate / 60 }} timmar sedan</p> -->
                </div>
                <div *ngIf="item.hasDeviated === 0">
                    <p *ngIf="item.minutesLate != 1">Avvikelse sker om {{ item.minutesLate }} minuter</p>
                    <p *ngIf="item.minutesLate == 1">Avvikelse sker om {{ item.minutesLate }} minut</p>
                    <!-- <p *ngIf="item.minutesLate >= 60">Avvikelse sker om {{ item.minutesLate / 60 }} timma</p> -->
                </div>
            </div>
            <br>
            <div *ngIf="item.staff.count != 0">
                <p *ngFor="let st of item.staff; let i = index">
                    {{ st.firstName + " " + st.lastName }} är frånvarande <br>
                    {{ st.phoneNr }}
                </p>

            </div>
        </li>
    </ul>
</div>