<div class=statusBox>
    <h1>Avvikelser</h1>
    <ul>
        <li *ngFor="let item of GetStatusList(); let i = index">
            <p>{{item.text}} har problemz va</p>
        </li>
        <li>
            <p>Exempelpost på problem</p>
        </li>
        <li>
            <p>Några skift slutar samtidigt</p>
        </li>
        <li>
            <p>
                Inuti den här listan tänker jag att avvikelseposter kan listas upp för 
                ökad överskådlighet
            </p>
        </li>
    </ul>
</div>