<div class=statusBox>
    <h1>Avvikelser</h1>
    <ul>
        <!-- <li *ngFor="let item of GetDeviantProceduresStatus(); let i = index">
            <p>Procedur: {{item.text}} avviker</p>
        </li> -->
        <!-- <li *ngFor="let item of GetAbsentStaff(); let i = index">
            <p>Personal {{item.firstName}} är frånvarande</p>
        </li> -->

        <li>
            <p>Procedur Knäskålsrekonstruktion: avvikelse frånvaro</p>
        </li>
        <li>
            <p>Harry Potter är frånvarande från procedur Knäskålsrekonstruktion</p>
        </li>
    </ul>
</div>