::ng-deep .dx-scheduler-cell-sizes-horizontal {
    max-width: 25px !important;
}

/* ::ng-deep .dx-scheduler-cell-sizes-vertical {
    max-height: 300px;
} */

/* ::ng-deep .dx-scheduler {
    width: 74%;
} */

.scheduler{
    float:left;
    width:80%;
    box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.50);
    max-height: 92.8vh;
    overflow: auto;
}

.statusbox{
    background-color:#fafafa ;
    border-style: solid;
    border-color:rgb(219, 219, 219);
    border-width: 2px;
    margin-right:0.3%;
    box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.50);

    overflow: auto;
    min-height:auto;
    max-height:46vh;

}

.availableStaffListBox{
    background-color:#fafafa ;
    border-style: solid;
    border-color:rgb(219, 219, 219);
    border-width: 2px;
    margin-right:0.3%;
    box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.50);

    overflow: auto;
    min-height:auto;
    max-height:46vh;

}

/* .table {
    width:100%;
    height:100%;
    display: table;
    border-spacing: 2px;
}

.row
{
    display: table-row;
} */

.wrapper{
    width:19.3%;
    height: 300px;
    float:right;
}

/* ::ng-deep .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-date-table-scrollable, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-header-scrollable {
    margin-left: 200px;
}

::ng-deep .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-group-table, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-sidebar-scrollable, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-sidebar-scrollable:before {
    width: 200px;
} */

::ng-deep .notWorkTime{
    background-color: white;
}

::ng-deep .workTime{
    background-color:#e5f3e5;
}

::ng-deep .workTimeStart{
    background-color:#e5f3e5;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: rgb(163, 163, 163);
}

::ng-deep .workTimeEnded{
    background-color:white;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: rgb(163, 163, 163);
}

::ng-deep .workTimeNotOnSite{
    background-color:#f0f0f0;
}

::ng-deep .workTimeStartNotOnSite{
    background-color:#f0f0f0;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: rgb(163, 163, 163);
}

::ng-deep .workTimeEndedNotOnSite{
    background-color:white;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: rgb(163, 163, 163);
}

.dot-green {
    height: 10px;
    width: 10px;
    background-color: rgb(125, 211, 144);
    border-radius: 50%;
    float:left;
    margin-top:10px;
    margin:5px;
  }

.dot-yellow {
    height: 10px;
    width: 10px;
    background-color: rgb(231, 230, 131);
    border-radius: 50%;
    float:left;
    margin-top:10px;
    margin:5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin:0;
}

.tooltipHeader h4, p{
    padding:0;
    margin:0;
}

.tooltipTextDeviation p{
    color: red;
}
