::ng-deep .dx-scheduler-cell-sizes-horizontal {
    max-width: 25px;
}

/* ::ng-deep .dx-scheduler {
    width: 74%;
} */

.scheduler{
    float:left;
    width:75%;
    box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.50);
}

.statusbox{
    background-color:#fafafa ;
    border-style: solid;
    border-color:rgb(219, 219, 219);
    border-width: 2px;
    float:right;
    width:24.3%;
    margin-right:0.3%;
    box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.50);
}

.availableStaffListBox{
    background-color:#fafafa ;
    border-style: solid;
    border-color:rgb(219, 219, 219);
    border-width: 2px;
    float:right;
    width:24.3%;
    margin-right:0.3%;
    box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.50);
}

/* ::ng-deep .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-date-table-scrollable, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-header-scrollable {  
    margin-left: 200px;  
}  

::ng-deep .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-group-table, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-sidebar-scrollable, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-sidebar-scrollable:before {  
    width: 200px;  
}   */

::ng-deep .notWorkTime{
    background-color: white;
}

::ng-deep .workTime{
    background-color:#e5f3e5;
}

::ng-deep .workTimeStart{
    background-color:#e5f3e5;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: rgb(163, 163, 163);
}

::ng-deep .workTimeEnded{
    background-color:white;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: rgb(163, 163, 163);
}
ul {
    list-style-type: none;
    padding: 0;
    margin:0;
}

.tooltipHeader h4, p{
    padding:0;
    margin:0;
}

.tooltipTextDeviation p{
    color: red;
}
